h2{

    color:red ;
}

p{

    font-family: helvetica;
    background-color: bisque;
    margin: 20px;
}

img{

    width: 400px;
    height: 450px;
}

.outro p{

    color: aqua;
    background-color: aliceblue;
    margin-bottom: 30px;
  border-radius: solid saddlebrown 1px;
}

.segundo p{

    color: bisque;
    background-color: black;
    margin: 0px;
    border: solid red 1px;
    border-radius: 3%;
}
.link a{
    text-decoration: none;

}

.link{

    text-align: right;
}

.tabela table{
margin-top: 10px;
border: solid 1px red; 
display: inline-block;
}