h4{

    background-color: blue;
    color: rgba(248, 248, 248, 0.966);
}

.box{

margin: 20px;
padding: 10px 25px;
border: 3px solid#845;
outline: 3px solid #840;

}

.box{

    background-color: black;
    color: aliceblue;
    border: none;
}